<p id="notice"><%= notice %></p>

<p>
  <strong>Ubication:</strong>
  <%= @product.ubication %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Item code:</strong>
  <%= @product.item_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Unitary cost:</strong>
  <%= @product.unitary_cost %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @product.total_value %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
